@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$primary-blue: hsl(215, 51%, 70%);
$primary-cyan: hsl(178, 100%, 50%);

$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $main-bg;

  @media screen and (min-width: 480px) {
    min-height: 100vh;
  }
}

.card {
  margin: 10px;
  margin-top: 36px;
  padding: 25px;
  max-width: 350px;
  background-color: $card-bg;
  border-radius: 12px;
}

.card__img-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.card__img {
  width: 100%;
  align-self: center;
  border-radius: 12px;
}

.card__img-hover-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 247, 0.5);
  background-position: center;
  background-image: url(./images/icon-view.svg);
  background-repeat: no-repeat;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 500ms;
}

.card__heading {
  margin-top: 24px;
  margin-bottom: 10px;
  color: $white;
  font-family: 'Outfit', sans-serif;
  font-size: 22px;
  transition: 500ms;
}

.card__main-link {
  text-decoration: none;

  &:hover .card__heading {
    color: $primary-cyan;
  }

  &:hover .card__img-hover-layer {
    opacity: 100%;
  }
}

.card__description {
  margin-top: 18px;
  margin-bottom: 24px;
  color: $primary-blue;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.card__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  color: $primary-blue;
}

.card__list-item {
  
  &--price {
    font-weight: 400;
    margin-left: 20px;
    color: $primary-cyan;
    list-style: url(./images/icon-ethereum.svg);
  }
  
  &--time {
    font-weight: 400;
    margin-left: 20px;
    list-style: url(./images/icon-clock.svg);
  }
}

.card__hr {
  background: $line;
  margin: 28px 0 16px;
  border: none;
  height: 1px;
}

.card__credits {
  color: $primary-blue;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;

  &-img {
    width: 33px;
    border: 1px solid $white;
    border-radius: 50%;
    margin-right: 16px;
  }

  a {
    color: $white;
    text-decoration: none;
    transition: 500ms;
    
    &:hover {
      color: $primary-cyan;
    }
  }
}
